/* CitizenshipTestSection.module.css */

.citizenship {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  padding: 20px;
}

.div-heading {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Center the images horizontally */
  max-height: 400px;
  display: block;
}
