.hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
    max-width: 70%;
}

.btn-info{
    max-width:325.33px  ;
    align-self: center;
}
